<template>
<div>
    <div class="card mb-4">
        <div class="card-header">
          editar  publicacion
        </div>
        <div class="card-body">
           <form @submit.prevent = "submit">
                <div class="form-group">
                    <label for="title">Titulo</label>
                    <input id="title" class="form-control" name="title" type="text" placeholder="Titulo" v-model="getPost.title" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="Nombre">Nombre</label>
                    <input id="name" class="form-control" name="name" type="text" placeholder="Nombre" v-model="getPost.name" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="Reserva">Reserva</label>
                    <input id="reserva" class="form-control" name="reserva" type="text" placeholder="Reserva" v-model="getPost.reserva" autocomplete="off">
                </div>
                <div class="form-group">
                    <label for="Hora">Hora</label>
                    <input id="hora" class="form-control" name="hora" type="text" placeholder="Hora" v-model="getPost.hora" autocomplete="off">
                </div>
                 <div class="form-group">
                 <label for="category">Categoria</label>
                 <select id="category" class="form-control" name="category" v-model="getPost.categoryid">
                 <option selected="true" disabled="disabled" value="">Selecione una Categoria</option>    
            <option v-for="(category,index) in getCategorys" :key="index" :value="category.id">{{category.name}}</option>
            
        </select>
    </div>
    <div class="form-group">
             <label for="title">Imagen</label>
             <input class="form-control" id="image" name="image" type="file" placeholder="subir imagen" v-on:change="onImageChange">
    </div>
    <div class="form-group">
        <label for="body">Contenido</label>
        <textarea class="form-control" id="body" rows="3" v-model="getPost.body"></textarea>
            </div>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Editar publicacion</button>
        </form>
     </div>
     </div>
     </div>
</template>
<script>
import {mapActions, mapGetters} from 'vuex'
export default {
    name:'Posts',
    data(){
        return{
            form:{
                title:'',
                category:'',
                body:'',
                name:'',
                reserva:'',
                hora:'',
        },
        image:''
        }
    },
    computed:{
        ...mapGetters({
            getCategorys:'category/get_all_categorys',
            getPost:'post/detail_post'
        })
    },

     methods:{
         ...mapActions({
    
             get_all_categorys:'category/getCategorysAll',
             get_post:'post/detailPost',
             edit_post:'post/editPost'
         }),
        onImageChange(e){
            console.log(e.target.files[0]);
            this.image = e.target.files[0]
        },
        async submit(){

            this.form={
                title:$('#title').val(),
                name:$('#name').val(),
                reserva:$('#reserva').val(),
                hora:$('#hora').val(),
                category:$('#category').val(),
                body:$('#body').val()

            }
            //await this.send_create_post(this.form)
            const config = {
                headers:{'content-type':'multipart/form-data'}
            }

            let formData= new FormData();
            formData.append('file',this.image)
            formData.append('form',JSON.stringify(this.form))
            formData.append('_method','PUT')

            for(var value of formData.values()){
                console.log(value)
            }
           

            let data = {
                config:config,
                parameter:this.$route.params.slug,
                formdata:formData
            }
           
            await this.edit_post(data)
        },
     },
     mounted(){
            //console.log(this.$route.params.slug)
            this.get_all_categorys() 
            this.get_post(this.$route.params.slug)
     }
}
</script>