<template>
    <!--<form action="#" @submit.prevent = "submit">
        <div>
          <label for="Name">Nombre</label>
          <input type="text" name="name" id="name" v-model="form.name">
        </div>
        <div>
          <label for="email">Correo Electronico</label>
          <input type="email" name="email" id="email" v-model="form.email">
        </div>
        <div>
          <label for="password">Contraseña</label>
          <input type="date" name="password" id="password" v-model="form.password">
        </div>
        <div>
          <label for="password">Confirmar contraseña</label>
          <input type="time" name="password_confirmation" id="password" v-model="form.password_confirmation">
         </div>
    <button type="submit">Registro</button>
  </form>-->
   

	<div>
		<NavHome :color="color"/>
    	<div class="limiter" style="padding-top:5%">
			<div class="container-login100">
			<div class="wrap-login100">
				<form class="login100-form validate-form" @submit.prevent = "submit">
					<span class="login100-form-title p-b-34">
						Registro
					</span>
					<div>
            <label for="Name">Nombre: </label>
					<div class="wrap-input100 rs1-wrap-input100 validate-input m-b-20" data-validate="Type user name">
						<input id="nombre" class="input100" type="text" name="nombre" placeholder="Nombre" v-model="form.name" autocomplete="off">
						<span class="focus-input100"></span>
					</div>
          <label for="Name">Correo Electronico: </label>
          <div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type user name">
						<input id="email" class="input100" type="email" name="email" placeholder="Correo Electronico" v-model="form.email" autocomplete="off">
						<span class="focus-input100"></span>
					</div>
          <label for="Name">Contraseña: </label>
					<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password" autocomplete="off">
						<input class="input100" type="password" name="password" id="password"  placeholder="Password" v-model="form.password">
						<span class="focus-input100"></span>
					</div>
        <label for="Name">Confirmar Contraseña: </label>
					<div class="wrap-input100 rs2-wrap-input100 validate-input m-b-20" data-validate="Type password" autocomplete="off">
						<input class="input100" type="password" name="password" id="passwordconfirmation"  placeholder="Confirmacion Password" v-model="form.password_confirmation">
						<span class="focus-input100"></span>
					</div>
        </div>
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							registro
						</button>
					</div>

					<div class="w-full text-center p-t-27 p-b-239">
						<span class="txt1">
							Forgot
						</span>

						<a href="#" class="txt2">
							User name / password?
						</a>
					</div>
					
				</form>
				<div class="login100-more" style="background-image: url('/images/bg-01.jpg')"></div>
			</div>
		</div>
	</div>
	</div>

</template>
<script>
import {mapActions} from 'vuex'
import NavHome from '../components/NavHome'
export default {
  components:{NavHome},
    name:'SignUp',
    
     data(){
        return {
            form:{
              name:'',
              email:'',
            password:'',
            password_confirmation:''
              },
               color:'black'
        }
     },
     methods:{
         ...mapActions({
             send:'auth/signUp'
         }),
        async submit(){
          try {
                   await this.send(this.form)
                   this.$router.replace({name:'dashboard'})
                   this.$swal({
                    icon: 'success',
                    title: 'Registrado correctamente',
                    showConfirmButton: false,
                    timer: 2500
                   
                  })
                     }catch (error) {
                     let msgError = ''
                  let obj = error.response.data.errors
                  for(var prop in obj){
                    if(!obj.hasOwnProperty(prop)) continue
                    obj[prop].forEach(element => {
                      msgError = element + ' ' + msgError
                    });
                  }
                  this.$swal({
                    icon: 'error',
                    title: 'Oops...',
                    text: msgError,
                  })         
                          }  
                  }

                      }
              }
</script>